version: '3.8'

services:
  audio-api:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8001:8001"
    env_file:
      - .env
    volumes:
      - ./app:/app/app
    restart: always 